* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #1B1B1E;
    color: #FFFFFF;
    line-height: 1.6;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background: #1B1B1E;
}

header .logo {
    display: flex;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
    color: #FFFFFF;
}

header .logo img.app-icon {
    width: 60px; 
    height: auto;
    margin-right: 10px;
}

nav {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: flex-start;
}

.nav-links {
    display: flex;
    gap: 20px;
}

header a {
    text-decoration: none;
    color: #FFFFFF;
    font-weight: bold;
}

#hero {
    background: #1B1B1E;
    text-align: center;
    padding: 80px 20px;
}

#hero h2 {
    font-size: 36px;
    margin-bottom: 20px;
    color: #FFFFFF;
}

#hero p {
    font-size: 18px;
    margin-bottom: 20px;
    color: #DDDDDD;
}

#features {
    padding: 60px 0;
    background: #1B1B1E;
    text-align: center;
    color: #FFFFFF;
}

.feature-list {
    display: flex;
    flex-direction: column;
}

/* Set each feature section to take up full width and stack vertically */
.feature {
    width: 100vw;
    padding: 60px 20px;
    border-radius: 0; /* Remove border-radius for full-width sections */
    box-shadow: none; /* Remove box-shadow for a cleaner look */
    color: #FFFFFF;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.feature img {
    width: 200px; /* Adjust width to fit in the center comfortably */
    height: auto;
    margin-bottom: 20px;
    border-radius: 4px;
}

/* Different background colors for each feature section */
.feature-date-format {
    background-color: #FF5733; /* Red */
}

.feature-history {
    background-color: #33A1FF; /* Blue */
}

.feature-limit-wip {
    background-color: #33FF57; /* Green */
}

.feature-lists {
    background-color: #FF33A1; /* Pink */
}

.feature-locations {
    background-color: #FFA133; /* Orange */
}

.feature-sort {
    background-color: #A1FF33; /* Lime */
}

.feature-today {
    background-color: #FF33FF; /* Magenta */
}

.feature-upcoming {
    background-color: #33FFA1; /* Teal */
}

#about {
    padding: 60px 20px;
    text-align: center;
    background: #1B1B1E;
    color: #FFFFFF;
}

footer {
    background: #1B1B1E;
    padding: 20px;
    text-align: center;
    color: #FFFFFF;
}
